## Using NLTK Library

In [8]:
import nltk
import pandas as pd

In [9]:
f = open('./sample_text.txt', 'r')
text = f.read()

In [21]:
text[:200]

'artificial intelligence (AI), the ability of a digital computer or computer-controlled robot to perform tasks commonly associated with intelligent beings. The term is frequently applied to the project'

Word based approach

In [6]:
words = nltk.word_tokenize(text)

In [7]:
#Part of speech tagging
pos_tags = nltk.pos_tag(words)
pos_tags[:5]

[('artificial', 'JJ'),
 ('intelligence', 'NN'),
 ('(', '('),
 ('AI', 'NNP'),
 (')', ')')]

In [8]:
nltk.help.upenn_tagset('NNP')

NNP: noun, proper, singular
    Motown Venneboerger Czestochwa Ranzer Conchita Trumplane Christos
    Oceanside Escobar Kreisler Sawyer Cougar Yvette Ervin ODI Darryl CTCA
    Shannon A.K.C. Meltex Liverpool ...

In [13]:
#Chunking
chunks = nltk.ne_chunk(pos_tags, binary=False)
entities = []
labels = []
for chunk in chunks:
    if hasattr(chunk, 'label'):
        entities.append(' '.join(c[0] for c in chunk))
        labels.append(chunk.label())

entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ['Entities', 'labels']
entities_df

    Entities        labels
0  DataRobot  ORGANIZATION
1         AI  ORGANIZATION
2      Sphex           GPE
3         AI           GPE

Sentence Based

In [18]:
entities = []
labels = []

sentences = nltk.sent_tokenize(text)
for sent in sentences:
    pos_tags = nltk.pos_tag(nltk.word_tokenize(sent))
    for chunk in nltk.ne_chunk(pos_tags, binary=False):
        if hasattr(chunk, 'label'):
            entities.append(' '.join(c[0] for c in chunk))
            labels.append(chunk.label())
entities_labels = list(set(zip(entities, labels)))
entities_df = pd.DataFrame(entities_labels)
entities_df.columns = ['Entities', 'labels']
entities_df

     Entities        labels
0   Inductive           GPE
1    Research           GPE
2       Sphex           GPE
3          AI  ORGANIZATION
4   DataRobot  ORGANIZATION
5          AI           GPE
6  Artificial           GPE

In [30]:
def get_named_entities(text, binary=True):
    entities = []
    labels = []
    sentences = nltk.sent_tokenize(text)
    for sent in sentences:
        pos_tags = nltk.pos_tag(nltk.word_tokenize(sent))
        for chunk in nltk.ne_chunk(pos_tags, binary=binary):
            if hasattr(chunk, 'label'):
                entities.append(' '.join(c[0] for c in chunk))
                labels.append(chunk.label())
    entities_labels = list(set(zip(entities, labels)))
    entities_df = pd.DataFrame(entities_labels)
    entities_df.columns = ['Entities', 'labels']
    return entities_df

In [10]:
text2 = '''Global warming or climate change has today become a major threat to the mankind. The Earth’s temperature is on the rise and there are various reasons for it such as greenhouse gases emanating from carbon dioxide (CO2) emissions, burning of fossil fuels or deforestation. Recent years have been unusually warm, causing worldwide concern. But the fact is that the increase in carbon dioxide actually began in 1800, due to the deforestation of a large chunk of North-eastern American, besides forested parts of the world. The things became worse with emissions in the wake of the industrial revolution, leading to increase in carbon dioxide level by 1900.The sea levels are constantly rising as fresh water marshlands, low-lying cities, and islands have been inundated with seawater
There have been changes in rainfall patterns, leading to droughts and fires in some areas, and flooding in other areas.
Ice caps are constantly melting posing a threat to polar bears as their feeding season stands reduced.
Glaciers are gradually melting.
Animal populations are gradually vanishing as there has been a widespread loss of their habitat.'''

In [34]:
get_named_entities(text2)

   Entities labels
0  American     NE
1    Animal     NE
2    Global     NE
3       CO2     NE
4     Earth     NE

## Using Spacy Library

In [3]:
import spacy

In [5]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl (13.9 MB)
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from en-core-web-sm==3.2.0) (3.2.2)
Requirement already satisfied: jinja2 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.11.3)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.27.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.1)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.7.6)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.15)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.6)
Requirement already satisfied: packaging>=20.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (21.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (4.62.3)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.8.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.0.6)
Requirement already satisfied: pathy>=0.3.5 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.6.1)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3.0)
Requirement already satisfied: setuptools in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (52.0.0.post20210125)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.9)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.0)
Requirement already satisfied: numpy>=1.15.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.22.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.9.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.4.7)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.10.0.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.26.7)
Requirement already satisfied: colorama in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nihal\anaconda3\envs\mlprojects\lib\site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-sm==3.2.0) (1.1.1)
Installing collected packages: en-core-web-sm
Successfully installed en-core-web-sm-3.2.0
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [6]:
nlp = spacy.load('en_core_web_sm')

In [12]:
doc = nlp(text)

entities = []
labels = []
position_start = []
position_end = []

for ent in doc.ents:
    entities.append(ent)
    labels.append(ent.label_)
    position_start.append(ent.start_char)
    position_end.append(ent.end_char)

df = pd.DataFrame({'Entities': entities, 'Labels':labels, 'Position_Start': position_start, 'Position_End':position_end})
df

            Entities    Labels  Position_Start  Position_End
0               (AI)       ORG              25            27
1       (the, 1940s)      DATE             430           439
2            (Sphex)    PERSON            1400          1405
3            (first)   ORDINAL            1478          1483
4           (waspâ€)       GPE            1640          1646
5   (a, few, inches)  QUANTITY            1704          1716
6               (AI)       GPE            2117          2119
7              (one)  CARDINAL            3569          3572
8               (AI)       ORG            3609          3611
9              (one)  CARDINAL            3969          3972
10       (DataRobot)       ORG            4143          4152
11              (AI)       ORG            4193          4195
12       (DataRobot)    PERSON            4460          4469
13              (AI)       ORG            4505          4507
14       (DataRobot)       ORG            4679          4688
15              (AI)       GPE            4708          4710
16              (AI)       ORG            4801          4803

In [35]:
def combine_elements(x):
    s = ''
    for e in x:
        s += str(e)+" "
    return s

In [36]:
def get_named_entities(text):
    nlp = spacy.load('en_core_web_sm')
    doc = nlp(text)
    entities = []
    labels = []
    position_start = []
    position_end = []

    for ent in doc.ents:
        entities.append(ent)
        labels.append(ent.label_)
        position_start.append(ent.start_char)
        position_end.append(ent.end_char)

    df = pd.DataFrame({'Entities': entities, 'Labels':labels, 'Position_Start': position_start, 'Position_End':position_end})
    df['Entities'] = df['Entities'].apply(combine_elements)
    return df

In [37]:
get_named_entities(text2)

           Entities    Labels  Position_Start  Position_End
0            today       DATE              37            42
1            Earth        LOC              85            90
2     Recent years       DATE             271           283
3             1800   CARDINAL             407           411
4  North - eastern       NORP             458           471
5         American       NORP             472           480
6         1900.The   CARDINAL             647           655